.square {
  width: 300px;
  height: 300px;
  border: 1px solid black;
  text-align: center;
  padding: 50px;
}

.name {
  font-size: 24px;
  font-weight: bold;
}

.position {
  font-size: 18px;
  font-style: italic;
}

.id {
  font-size: 14px;
  font-weight: bold;
}

.school {
  font-size: 14px;
  font-weight: bold;
}
